PORT=5001
NODE_ENV=development

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/bottle_ordering?retryWrites=true&w=majority

CLIENT_ORIGINS=http://localhost:8082,http://localhost:19006